.central-text{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.input-block{
    width: 150px;
    text-align: center;
    height: 29px;
    margin-right: 10px;
    border-radius: 3px;
    border-color: lightskyblue;
}
.block-2{
    width: 550px;
}

.send{
    width: 120px;
    border-radius: 3px;
    box-sizing: border-box;
    border: none;
    background: lightskyblue;
    font-size: 16px;
    color: cornsilk;
    height: 30px;
    font-weight: bolder;
    margin: 20px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}

